<p>Recherche : </p>
<div class="search-container">
  <div class="example-form-fields">
    <i class="fa-solid fa-magnifying-glass" id="iconn" (click)="toggleInput()"></i>
    <mat-form-field *ngIf="showInput" appearance="fill">
      <input matInput type="text" [(ngModel)]="searchQuery" />
    </mat-form-field>
  </div>
</div>
<h3>Listes sommaires</h3>
<table>
  <tr *ngFor="let liste of listes" (click)="sendListeId(liste.id)">
    <!--this sends the list of chansons / i need to send only the id of the list-->
    <td>
      <img [src]="liste.image" alt="music image" style="height: 100px; width: 100px; border-radius: 5px;">
    </td>
    <td>{{ liste.titre }}</td>
    <td>{{ liste.type }}</td>
    <td>{{ liste.soustitre }}</td>
  </tr>
</table>