
<table>
    <tr *ngFor="let liste of listes">
        <td colspan="2">
            <img [src]="liste.image" alt="music image" style="height: 100px; width: 100px; border-radius: 5px;">
        </td>
        <td>{{ liste.titre }}</td>
        <td>{{ liste.sousTitre }}</td>
        <td>{{ liste.type }}</td>
        <td>{{ liste.description }}</td>
        <td>{{ liste.DatePublication }}</td>
        <td>{{ liste.nombreSauvegardes }}</td>
    </tr>
    <tr></tr>
</table>



<app-liste-chansons></app-liste-chansons>