<div class="container">
    <div class="header-container">

        <img src="ajouter.png" alt="icon ajout" class="ajout-icon" />
    </div>

    <div>
        <mat-chip-set aria-label="Fish selection" class="chips">
            <mat-chip class="chip">Listes de lecture</mat-chip>
            <mat-chip class="chip">Artistes</mat-chip>
            <mat-chip class="chip">Albums</mat-chip>
            <mat-chip class="chip">Chansons</mat-chip>
        </mat-chip-set>
    </div>


    <app-liste-sommaire></app-liste-sommaire>

</div>